@use '../../styles/variables' as *;

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &.light {
    background-color: $color-background-light;
  }

  &.dark {
    background-color: $color-background-dark;
  }

  &-header {
    display: flex;
    place-content: space-between;

    &__brand {
      color: $white;
      align-content: center;
    }
  }

  &-header,
  &-footer {
    padding: $spacing-md;
    background-color: $color-surface-dark;
    font-weight: bold;
    color: $white;

    div {
      text-align: center;
    }
  }

  &-content {
    flex: 1;
    padding: $spacing-lg;
  }
}
