@use '../../styles/variables' as *;

.theme-toggle {
  display: flex;
  align-items: center;
  height: 2.5rem;
  gap: $spacing-xs;
  padding: $spacing-xs $spacing-sm;
  border-radius: $border-radius-lg;
  cursor: pointer;
  font: inherit;
  background: transparent;
  transition: background-color 0.2s, color 0.2s;

  & button {
    & span {
      &:hover {
        cursor: pointer !important;
      }
    }
  }

  &__emoji {
    font-size: 1.2em;
    transition: transform 0.2s ease;
  }

  // Light theme
  [data-theme='light'] & {
    color: $color-text-primary-light;
  }

  // Dark theme
  [data-theme='dark'] & {
    color: $color-text-primary-dark;
  }
}
