@use '../../styles/variables' as *;

.theme-toggle {
  display: flex;
  align-items: center;
  height: 2.5rem;
  gap: $spacing-xs;
  padding: $spacing-xs $spacing-sm;
  border-radius: $border-radius-lg;
  cursor: pointer;
  font: inherit;
  background: transparent;
  transition: background-color 0.2s, color 0.2s;

  &__emoji {
    font-size: 1.2em;
    transition: transform 0.2s ease;
  }

  // Light theme
  [data-theme='light'] & {
    color: $color-text-primary-light;

    &:hover {
      background-color: $color-primary-hover-light;
      color: $color-surface-light;
    }
  }

  // Dark theme
  [data-theme='dark'] & {
    color: $color-text-primary-dark;

    &:hover {
      background-color: $color-primary-hover-dark;
      color: $color-surface-dark;
    }
  }
}
