@use '../styles/variables' as *;

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  // Let the page background still change with theme
  [data-theme='light'] & {
    background-color: $color-background-light;
  }

  [data-theme='dark'] & {
    background-color: $color-background-dark;
  }

  // Header and footer: fixed, not theme-aware
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-md;
    font-weight: bold;

    background-color: $color-surface-dark;
    color: $white;

    &__brand {
      align-content: center;
    }
  }

  &-footer {
    padding: $spacing-md;
    text-align: center;
    font-weight: bold;

    background-color: $color-surface-dark;
    color: $white;
  }

  &-content {
    flex: 1;
    padding: $spacing-lg;
  }
}
